@page
@model RazorPagesUI.Pages.BlogPosts.EditModel
@{
    ViewData["Title"] = $"Edit post: { Model.BlogPost.Title }";
}

<section>
    <h1>Edit post</h1>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="BlogPostId" type="hidden" class="form-control" />
        <div class="form-group">
            <label asp-for="BlogPost.Title"></label>
            <input asp-for="BlogPost.Title" class="form-control" />
            <span asp-validation-for="BlogPost.Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="BlogPost.Content"></label>
            <input asp-for="BlogPost.Content" class="form-control" />
            <span asp-validation-for="BlogPost.Content" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save post</button>
        </div>
    </form>
</section>
