@page

@using RazorPagesUI.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model BlogRazorPages.Pages.BlogPosts.IndexModel
@using DataAccess.Models
@{
    ViewData["Title"] = "Blog posts";
}

<section>
    <div class="">
        <div class="row mb-4">
            <div class="col-12">
                <h1>Blog posts</h1>

                <p>Here you will find blog posts aout everything regarding software development.</p>

                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="d-flex flex-row justify-content-start mb-4">
                        <a asp-page="./Create" class="btn btn-primary">Create a new post</a>
                    </div>
                }
                else
                {
                    <p>
                        Do you want to create your own posts?
                        <a asp-area="Identity" asp-page="/Account/Login">Log in</a>
                        or
                        <a asp-area="Identity" asp-page="/Account/Register">Create an account</a>.
                    </p>
                }
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="">
                    <h3>Categories</h3>
                    <ul>
                        <li><a>Artificial Intelligence</a></li>
                        <li><a>Functional programming</a></li>
                        <li><a>Object oriented programming</a></li>
                        <li><a>Software architecture</a></li>
                        <li><a>DevOps</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-8">
                <h2>Posts</h2>

                <div class="post-list">
                @foreach (BlogPostModel blogPost in Model.BlogPosts)
                {
                    <div class="post-list-item">
                        <a asp-page="./Display" asp-route-id=@blogPost.Id class="post-list-link">
                            <h5 class="post-list-item-header">@blogPost.Title</h5>
                            <p class="post-list-item-content">@blogPost.TrimmedContent</p>
                            <span class="post-list-item-author">Christopher</span> <span class="post-list-item-create-date">| 2021-04-24</span>
                        </a>
                    </div>
                }
                </div>
                
            </div>
        </div>


    </div>
</section>
