@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section>
    <div class="">
        <h1 class="display-4 text-center">Dev Blog</h1>
        <p class="text text-center lead">
            This is the place where you can learn from other developers as well as share your knowledge
            with the developer community by writing blog posts.
        </p>

        <h2>Recent posts</h2>
        <div>
            Blog posts...
        </div>
        <a asp-page="/BlogPosts/Index">See all posts.</a>
    </div>
</section>
