@page
@model PrivacyModel

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<section>
    <p>
        We don't do weird stuff with your data. You can delete your account and all your
        data anytime you want.
    </p>
    @if (SignInManager.IsSignedIn(User))
    {
    <p>
        <a asp-area="Identity" asp-page="/Account/Manage/DeletePersonalData">
            Click here to remove your account.
        </a>
    </p>
    }
</section>
